USE [master]
GO
/****** Object:  Database [LMS]    Script Date: 12-02-2023 23:11:45 ******/
CREATE DATABASE [LMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LMS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LMS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LMS]
GO
/****** Object:  Table [dbo].[authors]    Script Date: 12-02-2023 23:11:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[authors](
	[authorId] [int] IDENTITY(1,1) NOT NULL,
	[authorName] [varchar](50) NULL,
 CONSTRAINT [PK_authors] PRIMARY KEY CLUSTERED 
(
	[authorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[books]    Script Date: 12-02-2023 23:11:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[books](
	[bookId] [int] IDENTITY(1,1) NOT NULL,
	[bookName] [varchar](50) NULL,
	[pageCount] [int] NULL,
	[authorId] [int] NULL,
 CONSTRAINT [PK_books] PRIMARY KEY CLUSTERED 
(
	[bookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[borrows]    Script Date: 12-02-2023 23:11:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[borrows](
	[borrowId] [int] IDENTITY(1,1) NOT NULL,
	[studentId] [int] NULL,
	[bookId] [int] NULL,
	[takenDate] [date] NULL,
	[broughtDate] [date] NULL,
 CONSTRAINT [PK_borrows] PRIMARY KEY CLUSTERED 
(
	[borrowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[students]    Script Date: 12-02-2023 23:11:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[studentId] [int] IDENTITY(1,1) NOT NULL,
	[studentFirstName] [varchar](50) NULL,
	[studentLastName] [varchar](50) NULL,
	[gender] [varchar](50) NULL,
	[class] [varchar](50) NULL,
 CONSTRAINT [PK_students] PRIMARY KEY CLUSTERED 
(
	[studentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[authors] ON 

INSERT [dbo].[authors] ([authorId], [authorName]) VALUES (1, N'Arun Tiwari')
INSERT [dbo].[authors] ([authorId], [authorName]) VALUES (2, N'Chethan ')
INSERT [dbo].[authors] ([authorId], [authorName]) VALUES (1002, N'Sachin Tripathi')
SET IDENTITY_INSERT [dbo].[authors] OFF
GO
SET IDENTITY_INSERT [dbo].[books] ON 

INSERT [dbo].[books] ([bookId], [bookName], [pageCount], [authorId]) VALUES (1, N'Good Days', 302, 1)
INSERT [dbo].[books] ([bookId], [bookName], [pageCount], [authorId]) VALUES (2, N'Bad Days', 20, 2)
INSERT [dbo].[books] ([bookId], [bookName], [pageCount], [authorId]) VALUES (3, N'2 States', 564, 2)
SET IDENTITY_INSERT [dbo].[books] OFF
GO
SET IDENTITY_INSERT [dbo].[borrows] ON 

INSERT [dbo].[borrows] ([borrowId], [studentId], [bookId], [takenDate], [broughtDate]) VALUES (2, 2, 2, CAST(N'2022-01-30' AS Date), CAST(N'2022-02-20' AS Date))
SET IDENTITY_INSERT [dbo].[borrows] OFF
GO
SET IDENTITY_INSERT [dbo].[students] ON 

INSERT [dbo].[students] ([studentId], [studentFirstName], [studentLastName], [gender], [class]) VALUES (1, N'Umer', N'Farooq', N'22', N'CSE')
INSERT [dbo].[students] ([studentId], [studentFirstName], [studentLastName], [gender], [class]) VALUES (2, N'Shraddha', N'Shetty', N'22', N'CSE')
INSERT [dbo].[students] ([studentId], [studentFirstName], [studentLastName], [gender], [class]) VALUES (1002, N'Rohith', N'Reddy', N'22', N'.Net')
SET IDENTITY_INSERT [dbo].[students] OFF
GO
ALTER TABLE [dbo].[books]  WITH CHECK ADD FOREIGN KEY([authorId])
REFERENCES [dbo].[authors] ([authorId])
GO
ALTER TABLE [dbo].[borrows]  WITH CHECK ADD FOREIGN KEY([bookId])
REFERENCES [dbo].[books] ([bookId])
GO
ALTER TABLE [dbo].[borrows]  WITH CHECK ADD FOREIGN KEY([studentId])
REFERENCES [dbo].[students] ([studentId])
GO
USE [master]
GO
